<%-include('../../shared/includes/head',{pageTitle:'Login'})%>
<link rel="stylesheet" href="/styles/forms.css">
<link rel="stylesheet" href="/styles/auth.css">
</head>
<body>
    <%-include('../../shared/includes/header')%>
    <main>
        <h1>Login</h1>
        <% if(inputData.errorMessage) {%>
            <section class="alert">
                <h2>Invalid Input</h2>
                <p><%=inputData.errorMessage%></p>
            </section>
        <%}%>
        <form action="/login" method="POST">
            <input type="hidden" name="_csrf" value="<%=locals.csrfToken%>">
            <p>
                <label for="email">Enter Email</label>
                <input type="email" name="email" id="email" value="<%=inputData.email%>">
            </p>
            <p>
                <label for="password">Enter a Password</label>
                <input type="password" name="password" id="password" minlength="8" value="<%=inputData.password%>" required>
            </p>
            <button class="btn">Login</button>
            <p id="switch-form">
                <a href="/Signup">Create new user account</a>
            </p>
        </form>
    </main>
<%-include('../../shared/includes/footer')%>